/* reset */

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* font import */
@import url(https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Cinzel&display=swap);

/* html and main */
html {
    margin: 0 auto;
    background-color: rgba(122, 191, 191, .5);
}
body {
    background-color: #F2F2F2;
}

h1, h2, h3, h4 {
    text-transform: uppercase;
    font-family: 'Bebas Neue' Arial, sans-serif;
}

h1 {
    font-size: 40px;
    text-align: center;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
    text-align: center;
    margin: auto 0;
}

header {
    box-shadow: 0px 5px 2px rgba(148, 148, 148, 0.5);
}

p {
    font-family: 'Monstserrat', Arial, sans-serif;
    padding: 10px;
    font-weight: medium;
    font-size: 16px;
    margin: 0 auto;
}

dd, li, nav, input {
    font-family: 'Monstserrat', Arial, sans-serif;
}

/*nav bar*/
nav {
    width: 100%;
    position: absolute;
    top: 0;
    overflow: hidden;
    align-items: right;
    justify-content: center;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    font-variant: small-caps;
    color: #EB5428;
}


/* menu */

.header {
    display: flex;
    overflow: hidden;
}

#taco {
    margin-left: 10px;
    margin-right: 5px;
    max-width: 100%;
    height: auto;

}

menu li {
    padding-top: 2px;
    padding-bottom: 2px;
    padding: 2px;
    list-style: none;

}

figure h3 {
    font-size: 25px;
    text-align: left;
}

/* side dishes and ratings*/

.sidedishes {
    padding: 10px;
    background-color: #7ABFBF;
}

#dishes h2 {
    margin: 0 auto;
    text-align: center;
}

ol li {
    padding-top: 5px;
    padding-bottom: 5px;
}

ul {
    list-style-type: square;
}

.rating svg {
    fill: #EB5428;
}

.rating4 svg {
    fill: #EB5428;
}

.rating4 svg:last-child {
    fill: white;
}

